<div class="jumbotron text-center" id="no1">
    <div class="bg">
        <div class="container"
            data-top-top="opacity:1;"
            data-center-bottom="opacity:0;">
            <div class="vert-center">
                <h1 class="text-align-center" style="font-weight:light;">Emily and Allen</h1>
                <h3>are</h3>
                <h1>getting married!</h1>

            </div>
        </div>
    </div>
</div>
<div id="no2" class="jumbotron text-center"
data-center-top="opacity:0;" data-center="opacity:1;" data-center-bottom="opacity:0;"
    data-anchor-target="#no2"
    >
    <div class="bg">
        <div class="custom">
            <div class="content-white">
                <h2>Please Join Us</h2>
                <h3>Friday, March 10, 2017</h3>
                <h3>at San Francisco City Hall</h3>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron text-center" id="cityhall"
    data-center="background-position: 50% 0px;"
    data-top-bottom="background-position: 50% -100px;"
    data-anchor-target="#cityhall">
    <div class="bg">
        <div class="custom">
            <div class="content-white">
                <h2>Ceremony</h2>
                <h3 class="bold">place: San Francisco City Hall</h3>
                <h3>4th Floor, North Gallery</h3>
                <p>1 Dr. Carlton B Goodlett Place</p>
                <p>San Francisco, CA 94102</p>
                <h3 class="bold">time: 9:15 AM</h3>
                <p>Please don't be late!</p>
                <h3 class="spacey">Attire: Your Standard Suits & Dresses :)</h3>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron text-center" id="no3"
    data-center="background-position: 50% 0px;"
    data-top-bottom="background-position: 50% -100px;"
    data-anchor-target="#no3">
    <div class="bg">
        <div class="custom">
            <div class="content-white">
                <h2>Reception</h2>
                <h3 class="bold">place: Mourad Restaurant</h3>
                <p>140 New Montgomery St</p>
                <p>San Francisco, CA 94105</p>
                <h3 class="bold">time: 12:00 - 2:30 PM</h3>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron text-center" id="accomo">
    <div class="bg">
        <div class="custom">
            <h1>Accommodations</h2>
            <h3>Accommodation information to go here.</h3>
        </div>
    </div>
</div>
<div class="jumbotron text-center"  id="photos">
    <div class="bg">
        <div class="custom">
            <h1>Photos</h2>
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <%= link_to raw('<div class="photo" id="photo01"></div>'), image_path("thumb01-min.JPG"), :data => {:lightbox => "photos"} %>
                    </div>
                    <div class="col-xs-3">
                        <%= link_to raw('<div class="photo" id="photo02"></div>'), image_path("thumb02-min.JPG"), :data => {:lightbox => "photos"} %>
                    </div>
                    <div class="col-xs-3">
                        <%= link_to raw('<div class="photo" id="photo03"></div>'), image_path("thumb03-min.JPG"), :data => {:lightbox => "photos"} %>
                    </div>
                    <div class="col-xs-3">
                        <%= link_to raw('<div class="photo" id="photo04"></div>'), image_path("thumb04-min.JPG"), :data => {:lightbox => "photos"} %>
                    </div>
                    <div class="col-xs-3">
                        <%= link_to raw('<div class="photo" id="photo05"></div>'), image_path("thumb05-min.JPG"), :data => {:lightbox => "photos"} %>
                    </div>
                    <div class="col-xs-3">
                        <%= link_to raw('<div class="photo" id="photo06"></div>'), image_path("thumb06-min.JPG"), :data => {:lightbox => "photos"} %>
                    </div>
                    <div class="col-xs-3">
                        <%= link_to raw('<div class="photo" id="photo07"></div>'), image_path("thumb07-min.JPG"), :data => {:lightbox => "photos"} %>
                    </div>
                    <div class="col-xs-3">
                        <%= link_to raw('<div class="photo" id="photo08"></div>'), image_path("thumb08-min.JPG"), :data => {:lightbox => "photos"} %>
                    </div>
                    <div class="col-xs-3">
                        <%= link_to raw('<div class="photo" id="photo09"></div>'), image_path("thumb09-min.JPG"), :data => {:lightbox => "photos"} %>
                    </div>
                    <div class="col-xs-3">
                        <%= link_to raw('<div class="photo" id="photo10"></div>'), image_path("thumb10-min.jpg"), :data => {:lightbox => "photos"} %>
                    </div>
                    <div class="col-xs-3">
                        <%= link_to raw('<div class="photo" id="photo11"></div>'), image_path("thumb11-min.JPG"), :data => {:lightbox => "photos"} %>
                    </div>
                    <div class="col-xs-3">
                        <%= link_to raw('<div class="photo" id="photo12"></div>'), image_path("thumb12-min.JPG"), :data => {:lightbox => "photos"} %>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron text-center"  id="registry">
    <div class="bg">
        <div class="custom">
            <h1>Registry</h1>

            <div class="registry-logo">
                <%= link_to image_tag("rh-logo-black.svg", :class => "logo"), "https://www.restorationhardware.com/storefront/gift-registry/gift-list.jsp?giftlistId=gl1212053894"%>
            </div>

        </div>
    </div>
</div>
